li a, li, p {
    color: CadetBlue;
}

h3, .current {
    color: gray;
}

body {
    background: white url("../images/background.gif") no-repeat;
    background-size: 100vmax 100vh;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

nav  {
    color: gray;
}
