{% extends 'polls/base_polls.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
	Add question
{% endblock %}

{% block content %}
    <div class="main">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/add_question.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form method="post" id="add_question">
            {% csrf_token %}
            <br>
            <div class="wrapper">
                {% if not question_id %}
                    {% for i in form %}
                        {{ i }}
                        <small></small>
                    {% endfor %}
                {% else %}
                    <p>
                        <input value="{{ title }}" type="text" name="question_title" placeholder="Question title" maxlength="200" required="" id="id_question_title">
                        <small></small>
                    </p>
                    <p>
                        <textarea name="question_text" cols="35" rows="3" minlength="50" placeholder="Question text" maxlength="9000" required="" id="id_question_text">{{ text }}</textarea>
                        <small></small>
                    </p>
                {% endif %}
                <div class="tags">
                    <p>Press space after each tag</p>
                    <ul class="tag-ul"><input type="text" spellcheck="false" class="tag-input"></ul>
                </div>
                <div class="tag-details">
                    <p><span>10</span> tags are remaining</p>
                    <button type="button" class="remove-tag">Remove All</button>
                </div>
                <div id="survey_options">
                {% for choice in choices %}
                    <input value="{{ choice }}" required type="text" name="choice" class="survey_options" size="100" placeholder="Another Field">
                    <small></small>
                {% endfor %}
                </div>
                <div class="controls">
                    <a href="#" id="add_more_fields"><i class="fa fa-plus"></i>Add More</a>
                    <a href="#" id="remove_fields"><i class="fa fa-minus"></i>Remove Field</a>
                </div>
            </div>
            <button type="submit" class="form" >Left question</button>
        </form>
    </div>
    <script src="{% static 'polls/js/script.js' %}"></script>
    <header>
        <h1>New question</h1>
    </header>
{% endblock %}
{% block script %}
    <script>
        // on('action', 'button id or class')
        const form = document.getElementById('add_question');
        form.addEventListener("submit", submitHandler);
        function submitHandler(e){
            e.preventDefault();
            $.ajax({
                // type of form
                type: 'POST',
                // url: django url path
                {% if question_id %}
                    url: '{% url 'polls:update_question_save' question_id %}',
                {% else %}
                    url: '{% url 'polls:create_question_save' %}',
                {% endif %}
                data: $('#add_question').serialize(),
                {% comment %}
                    {
                        comment_text: $('#id_comment_text').val(),
                        // csrf token from hidden html input
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        question_id: '{{ question.id }}'
                    },
                {% endcomment %}
                dataType: 'json',
                // if django view returned data / if the request succeeds
                success: function (data){
                    // for each input span.class-name self data
                    if (data.success) {
                        $('span.text-success').html(data.success);
                        form.setAttribute('value', '');
                        $('span.text-warning').html("")
                    }
                    else {
                        $('span.text-warning').html(data.error);
                        $('span.text-success').html("")
                    }
                },
                //error message into h2
                error: function (error){
                    $('span.text-warning').html(error.error());
                    $('span.text-success').html("")
                }
            })
        }
    </script>
{% endblock %}
