{% extends 'polls/base_polls.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    {% if question_id %}
        Editing "{{ title }}" question
    {% else %}
        New question
    {% endif %}

{% endblock %}

{% block content %}
    <div class="main">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/add_question.css' %}">

        <form method="post" id="add_question">
            {% csrf_token %}
            <br>
            <div class="wrapper">
                {{ form|crispy }}
                {% comment %}
                <p>
                    <input value="{{ title }}" type="text" name="question_title" placeholder="Question title" minlength="5" maxlength="200" required="" id="id_question_title">
                    <small class="title-error"></small>
                </p>
                <p>
                    <textarea name="question_text" cols="35" rows="3" minlength="10" placeholder="Question text" maxlength="9000" required="" id="id_question_text">{{ text }}</textarea>
                    <small class="text-error"></small>
                </p>
                {% endcomment %}
                <div id="tags_id">
                    <h3>Tags:</h3>
                    {% for tag in tags %}
                        <input value="{{ tag }}" required type="text" name="tag" class="tags" size="100" minlength="2" maxlength="200" placeholder="Tag field">
                    {% endfor %}
                </div>
                <small class="tag-error"></small>
                <div class="tag-controls">
                    <a href="#" id="add_tag_fields"><i class="fa fa-plus"></i>Add More</a>
                    <a href="#" id="remove_tag_fields"><i class="fa fa-minus"></i>Remove Field</a>
                </div>
                {% comment %}
                    <p>Press space after each tag</p>
                    <ul class="tag-ul"><input type="text" spellcheck="false" class="tag-input"></ul>
                    <div class="tag-details">
                        <p><span>10</span> tags are remaining</p>
                        <button type="button" class="remove-tag">Remove All</button>
                    </div>
                {% endcomment %}
                <div id="choices_id">
                    <h3>Choices:</h3>
                    {% for choice in choices %}
                        <input value="{{ choice }}" required type="text" name="choice" class="choices" size="100" minlength="2" maxlength="200" placeholder="Choice field">
                    {% endfor %}
                </div>
                <small class="choice-error"></small>
                {% if question_id %}
                    <span class="text-warning">When updating the question, voting results are reset</span>
                {% endif %}
                <div class="choice-controls">
                    <a href="#" id="add_choice_fields"><i class="fa fa-plus"></i>Add More</a>
                    <a href="#" id="remove_choice_fields"><i class="fa fa-minus"></i>Remove Field</a>
                </div>
                <button type="submit" class="form" >Left question</button>
                <small class="text-success"></small>
                <small class="text-warning"></small>
                <small class="title-error"></small>
                <small class="text-error"></small>
            </div>
        </form>
    </div>
    <script src="{% static 'polls/js/script.js' %}"></script>
    <header>
        {% if question_id %}
            <h1>Editing "{{ title }}" question</h1>
        {% else %}
        <h1>New question</h1>
        {% endif %}
    </header>
{% endblock %}
{% block script %}
    <script>
        // on('action', 'button id or class')
        const form = document.getElementById('add_question');
        form.addEventListener("submit", submitHandler);
        function submitHandler(e){
            e.preventDefault();
            $.ajax({
                // type of form
                type: 'POST',
                // url: django url path
                {% if question_id %}
                    url: '{% url 'polls:update_question_save' question_id %}',
                {% else %}
                    url: '{% url 'polls:create_question_save' %}',
                {% endif %}
                data: $('#add_question').serialize(),
                {% comment %}
                    {
                        comment_text: $('#id_comment_text').val(),
                        // csrf token from hidden html input
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        question_id: '{{ question.id }}'
                    },
                {% endcomment %}
                dataType: 'json',
                // if django view returned data / if the request succeeds
                success: function (data){
                    // for each input small.class-name self data
                    if (data.success) {
                        $('small').html("")
                        $('small.text-success').html(data.success);
                        form.reset()
                    }
                    else {
                        $('small').html("")
                        $('small.title-error').html(data.title_info);
                        $('small.text-error').html(data.text_info);
                        if (data.tag_info){$('small.tag-error').html(data.tag_info);}
                        if (data.choice_info){$('small.choice-error').html(data.choice_info);}
                    }
                },
                //error message into h2
                error: function (){
                    $('small').html("")
                    $('small.text-warning').html('Bad client request');

                }
            })
        }
    </script>
{% endblock %}
