{% extends 'polls/base_polls.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
	RODJER | {% translate 'Home' %}
{% endblock %}

{% block content %}
<div class="main">
	{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/home_style.css' %}">

    <a href="{% url 'polls:index' %}"><h1>{% translate 'Questions' %}</h1></a>
    <a href="{% url 'polls:info_for_customers' %}"><h1>{% translate 'Information For Customers' %}</h1></a>

</div>
{% endblock %}