{% extends "polls/base_polls.html" %}
{% load i18n %}

{% block title %}
	{% translate 'Information for customers' %}
{% endblock %}

{% block content %}
<div class="main">
	{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/customers.css' %}">

    <h2>{% translate 'Technologies' %}:</h2>
    <dl>
      <dt>Python/Django</dt>
        <dd>allauth, argon2, AWS boto3, Celery/Redis, crispy, whitenoise</dd>
      <dt>AJAX</dt>
        <dd>Just AJAX with JSON</dd>
      <dt>PostgreSQL</dt>
        <dd>Just PostgreSQL DB</dd>
    </dl>

    <h4 class="INTER*K"><a href="https://inter-k.herokuapp.com/">{% translate 'My other simple project' %}</a></h4>

    <h2>{% translate 'To view the source code on GitHub, please write the username, full name or email of your GitHub account on my mailbox' %}
        | grandma7ter500@gmail.com |</h2>

</div>
{% endblock %}