{% extends "polls/base_polls.html" %}


{% block title %}
	R | Information for customers
{% endblock %}

{% block content %}
<div class="main">
	{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/customers.css' %}">

    <h2>Technologies:</h2>
    <dl>
      <dt>Python/Django</dt>
        <dd>allauth, argon2, AWS boto3, Celery/Redis, crispy, whitenoise</dd>
      <dt>AJAX</dt>
        <dd>Just AJAX with JSON</dd>
      <dt>PostgreSQL</dt>
        <dd>Just PostgreSQL DB</dd>
      <dt>Froala WYSIWYG editor</dt>
        <dd href="https://froala.com/wysiwyg-editor/">The Next Generation WYSIWYG HTML Editor</dd>
    </dl>

    <a href="https://inter-k.herokuapp.com/">My other simple project</a><br>

    <h2>To view the source code on GitHub, please write the username, full name or email of your GitHub account on my mailbox | grandma7ter500@gmail.com |</h2>

</div>
{% endblock %}