{% extends 'polls/base_polls.html' %}

{% block title %}
	Questions
{% endblock %}

{% block content %}
<div class="main">
	{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/polls_list.css' %}">
        {% if user.is_staff %}
            {% if user.is_authenticated %}
                <a href="{% url 'polls:create_question' %}" class="add_question"> + Add question</a>
            {% else %}
                <p class="add_question">For add question you need to <a href="/accounts/login/">Sign In</a></p>
            {% endif %}
        {% endif %}

    {% if my_question_list %}
        <h3>My questions:</h3>
    {% elif search_list %}
        <h3>Search results:</h3>
    {% elif tags_list %}
        <h3>Tag results:</h3>
    {% else %}
        <h3>Questions:</h3>
    {% endif %}

    <ul>
        {% if error_message %}
		    <p><strong>
                {{ error_message }}
                {% if not user.is_authenticated %}
                    <a href={% url 'account_login' %}>Sign In</a>
                {% endif %}
            </strong></p>
	    {% endif %}
            {% if my_question_list %}
                {% for question in my_question_list %}
                    <li>
                        <a href="{% url 'polls:detail' question.id %}">{{ question.question_title }}</a> |
                        <a href="{% url 'polls:update_question' question.id %}"> Edit</a> |
                        <a href="{% url 'polls:delete_question' question.id %}"> Delete</a>
                    </li>
                {% empty %}
                    <p>No questions are available.</p>
                {% endfor %}
            {% else %}
                {% for question in page_obj %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_title }}</a></li>
                {% empty %}
                    <p>No questions are available.</p>
                {% endfor %}
            {% endif %}
    </ul>
</div>
<div class="pagination">
    <span class="step-links">
    {% if page_obj.number %}
        {% if page_obj.has_previous %}
            {% if request.GET.search %}

                <a href="?search={{ request.GET.search}}&page=1">&laquo; First</a>
                {% if page_obj.previous_page_number != 1 %}
                    <a href="?search={{ request.GET.search}}&page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

            {% else %}

                <a href="?page=1">&laquo; First</a>
                {% if page_obj.previous_page_number != 1 %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

            {% endif %}

        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            {% if request.GET.search %}

                <a href="?search={{ request.GET.search}}&page={{ page_obj.next_page_number }}">Next&nbsp;&raquo;</a>
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <a href="?search={{ request.GET.search}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}

            {% else %}

                <a href="?page={{ page_obj.next_page_number }}">Next&nbsp;&raquo;</a>
                {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}

            {% endif %}
        {% endif %}
    {% endif %}
    </span>
</div>
{% endblock %}
