{% extends 'polls/base_polls.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Question | {{ question.question_title }}
{% endblock %}

{% block content %}
    <div class="main">
        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/polls_detail.css' %}">

        <em>{% if question.was_published_recently %}
            <blink>NEW QUESTION!</blink><br>
        {% endif %}
            <h2>{{ question.author_name }}</h2>
            {% if question.author_name == user.username %}
                <a href="{% url 'polls:update_question' question.id %}"> Edit</a> |
                <a href="{% url 'polls:delete_question' question.id %}"> Delete</a><br>
            {% endif %}
            {% if question.tag.all %}
                <span>tags: </span>
                {% for tag in question.tag.all %}
                    <a href="{% url 'polls:tag' tag.id %}">#{{ tag }}</a>
                {% endfor %}<br>
            {% endif %}
            {% if question.up_date %}
                {{ question.up_date }} * Edited *
            {% else %}
                {{ question.pub_date }}
            {% endif %}
        </em>

        <hr>
        <em style="white-space: break-spaces">{{ question.question_text }}</em>
        <hr>

        {% if user.is_authenticated %}
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% if question.choice_set.exists %}
                <form id="vote-form" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                        <input hidden name="user_id" value="">
                    {% endfor %}
                    <br><input type="submit" value="Vote" class="vote">
                    <small class="vote-success"></small>
                    <small class="vote-warning"></small>
                </form>
                <hr>
            {% endif %}
            <form method="post" class="mt-4" id="comment-form">
                {% csrf_token %}
                {{ form|crispy }}
                {% comment %}
                    <input hidden name="question_id" value="{{ question.id }}">
                {% endcomment %}
                <button type="submit" class="btn btn-primary">Left comment</button>
                <small class="comment-success"></small>
                <small class="comment-warning">{{ comment_message }}</small>
            </form>
        {% else %}
            <p>For vote and commenting you need to <a href={% url 'account_login' %}>Sign In</a></p>
        {% endif %}
        <hr>
        <ul>
        {% for comment in question.comment_set.all %}
                <li><strong class="comment_autor">{{ comment.author_name }}:</strong>
                    <p class="comment_text">{{ comment }}
                        {% if comment.author_name == user.username %}
                            | <a href="{% url 'polls:comment_edit' question.id comment.id %}">Edit</a>
                            | <a href="{% url 'polls:comment_delete' question.id comment.id %}">Delete</a>
                        {% endif %}
                    </p>
                </li>
                <hr>
                {% empty %}
                <p>Comments not found! Be the first ;)</p>
        {% endfor %}
        </ul>
        {% comment %}
	{% if form.errors %}
		<p><strong>{{ form.errors }}error</strong></p>
    {% else %}
        {% for i in form %}
        <p><strong>var: {{ i }}</strong></p>
        {% endfor %}
	{% endif %}
	{% endcomment %}
    </div>

    <header>
        <h1>{{ question.question_title }}</h1>
    </header>
{% endblock %}
{% block script %}
    <script>
        // comment part
        // on('action', 'button id or class')
        const comment_form = document.getElementById('comment-form');
        comment_form.addEventListener("submit", submitCommentHandler);

        function submitCommentHandler(e) {
            e.preventDefault();
            $.ajax({
                // type of form
                type: 'POST',
                // url: django url path
                {% if editing_comment %}
                    url: '{% url 'polls:comment_edit' question.id editing_comment %}',
                {% else %}
                    url: '{% url 'polls:comment_create' question.id %}',
                {% endif %}
                data: $('#comment-form').serialize(),
                dataType: 'json',
                // if django view returned data / if the request succeeds
                success: function (data) {
                    // for each input span.class-name self data
                    if (data.success) {
                        $('small.comment-success').html(data.success);
                        comment_form.reset()
                        $('small.comment-warning').html("")
                        //document.getElementById("id_comment_text").value = 'dddqwdwq'
                    } else {
                        $('small.comment-warning').html(data.error);
                        $('small.comment-success').html("")
                    }
                },
                //error message into small
                error: function (){
                    $('small').html("")
                    $('small.comment-warning').html(' • Bad client request');
                }
            })
        }

        // vote part
        {% if question.choice_set.exists %}
            const vote_form = document.getElementById('vote-form');
            vote_form.addEventListener("submit", submitVoteHandler);

            function submitVoteHandler(e) {
                e.preventDefault();
                $.ajax({
                    // type of form
                    type: 'POST',
                    // url: django url path
                    url: '{% url 'polls:vote' question.id %}',
                    data: $('#vote-form').serialize(),
                    dataType: 'json',
                    // if django view returned data / if the request succeeds
                    success: function (data) {
                        // for each input span.class-name self data
                        if (data.success) {
                            $('small.vote-success').html(data.success);
                            vote_form.reset()
                            $('small.vote-warning').html("")
                        } else {
                            $('small.vote-warning').html(data.error);
                            $('small.vote-success').html("")
                        }
                    },
                    //error message into h2
                    error: function () {
                        $('small.vote-warning').html(' • Bad client request');
                        $('small.vote-success').html("")
                    }
                })
            }
        {% endif %}
    </script>
{% endblock %}