{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block head_title %}
	{% translate 'Information for customers' %}
{% endblock %}

{% block content %}
<div class="main">
	{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/css/about.css' %}">

    <h2>{% translate 'Technologies' %}:</h2>
    <dl>
      <dt>Django</dt>
        <dd>DRF, Celery/Redis, AWS boto3, crispy, whitenoise, rosetta, argon2, allauth</dd>
    <dt>AJAX</dt>
        <dd></dd>
      <dt>PostgreSQL, MySQL</dt>
        <dd>{% translate 'As' %} DB's {% translate 'through' %} Django ORM</dd>
    </dl>

    <p>{% translate "This is a forum, not commercial, is not in demand by users, it's just my pet project, written by myself. I'm modifying it to test and demonstrate the technologies I'm currently learning (as much as the theme of the site allows)." %}</p>

    <h4 class="interk"><a class="interk" href="https://inter-k.herokuapp.com/">{% translate 'My other simple project' %}</a></h4>

    <h2><a href="https://github.com/sh0TGuN500/Rodger/">{% translate 'Source code on GitHub' %}</a></h2>

</div>
{% endblock %}