li a {
    color: CadetBlue;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

li {
    color: CadetBlue;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

h3, .current {
    color: gray;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.add_question {
    color: #4ad939;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

body {
    background: white url("../images/background.gif") no-repeat;
    background-size: 100vmax 100vh;
}

nav  {
    color: gray;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

p {
    color: CadetBlue;
}
