{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
{% block head %}
    {% include 'head.html' %}
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/allauth.css' %}">
    {% endblock %}
{% endblock %}
<body>

{% block body %}
    {% include 'navbar.html' %}

    {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>
        <strong>{% trans "Menu:" %}</strong>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_email' %}">{% trans "Change Email" %}</a></li>
                <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}

</body>
</html>
