{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
{% block head %}
    <head>
        {% block media %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-3.6.1.js"
                integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="path/to/file/uni-form-validation.jquery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="path/to/file/uni-form.jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link href="path/to/file/uni-form.css" media="all" rel="stylesheet"/>
        <link href="path/to/file/default.uni-form.css" media="all" rel="stylesheet"/>
        <title>
            {% block title %}
                Polls Engine
            {% endblock %}
        </title>
    </head>
{% endblock %}
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url 'articles:home' %}>RODGER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'articles:index' %}>{% translate 'Articles' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% translate 'My Account' %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">{{ user.username }}</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'articles:personal_page' %}">{{ user.username }}</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_email' %}">{% translate 'Email settings' %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">{% translate 'LogOut' %}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'articles:api-root' %}" target="_blank">{% translate 'API Root' %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'login' %}" target="_blank">{% translate 'Get API Key' %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}" target="_blank">{% translate 'Delete API KEY' %}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">{% translate 'LogIn' %}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">{% translate 'Register Now' %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href='{% url 'articles:article_create' %}'>{% translate 'Add article' %} +</a>
                    </li>
                {% endif %}
                <a class="nav-link" href={% url 'articles:about' %}>About</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ LANGUAGE_CODE }}
                    </a>
                    {% get_available_languages as languages %}
                    {% get_language_info_list for languages as lang_info %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for lang in lang_info %}
                            {% language lang.code %}
                                <li><a class="dropdown-item" href="{% url 'articles:lang' lang.code %}">{{ lang.name_local }}</a></li>
                            {% endlanguage %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'articles:search' %}" method="get">
                <input name="search" class="form-control me-2" type="search" minlength="3" placeholder={% translate "Search" %} aria-label="Search" required>
                <button class="btn btn-outline-success" type="submit">{% translate 'Search' %}</button>
                {{ search_message }}
            </form>
        </div>
    </div>
</nav>

{% block content %}
    {% translate 'There is no any content' %}
{% endblock %}
</body>
{% block script %}
    <script type="text/javascript">
        $(function(){
            $('form.uniForm').uniform();
        });
    </script>
{% endblock %}
</html>