h1 {
    color: #120473;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-shadow: #adb5bd 0.7px 0.7px 0, #adb5bd -0.7px -0.7px 0,
                 #adb5bd -0.7px 0.7px 0, #adb5bd 0.7px -0.7px 0;
}

body {
    background: white url("../images/home_background.gif") no-repeat;
    background-size: 100vmax 100vh;
}

nav  {
    color: gray;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}