{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
    <head>
    {% include 'head.html' %}
    {% block stylesheet %}
    {% endblock %}
    <title>
        {% block head_title %}
        {% endblock %}
    </title>
    {% block extra_head %}
    {% endblock %}
    </head>

<body>
{% block body %}
    {% include 'navbar.html' %}
    {% block content %}
        {% translate 'There is no any content' %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </body>
</html>
{% endblock %}
{% block script %}
{% endblock %}
