thead,
tfoot {
  background-color: #333;
  color: #fff;
}

table,
th,
td {
  border: 2px solid;
}

table {
  width: 100%;
  max-width: min-content;
  height: 30vh;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
}

#map {
  height: 50vmin;
  /* width: 50%; */
  position: relative;
  outline: none;
}

#weather-info {
  text-align: center;
}

