h1 {
    text-shadow: #3b3b3b 0.1vw 0.1vw 0, #3b3b3b -0.1vw -0.1vw 0,
    #3b3b3b -0.1vw 0.1vw 0, #3b3b3b 0.1vw -0.1vw 0;
    color: #DAA520FF;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

nav, p  {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

nav {
    color: grey;
}

p {
    color: #016ABC;
}

a {
    color: #e35f5f;
}



button {
background: #4ac1f7;
color: #fff;
border: 1px solid black;
border-radius: 6px;
box-shadow: 1px 1px 1px black;
text-shadow: none;
}

button:hover {
background: #016ABC;
color: #fff;
border: 1px solid black;
border-radius: 6px;
box-shadow: 0 0 0 black;
text-shadow: none;
}

body {
    background-image: url("../images/login.webp");
    background-repeat: no-repeat;
    background-color: #bdc8c9;
}

input{
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    border: 2px solid #016ABC;
    background: rgba(255,255,255,0.3);
    color: black;
}

.content-container {
    padding: 30px 38px 32px;
    display: block;
    width: 60%;
    margin: 50px auto;
    text-shadow: 0 0 0.5px black;
    text-align: center;
}




