h1 {
    color: darkblue;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-shadow: 0 0 4px black;
}

body {
    background: white url("../images/customers.gif") no-repeat;
    background-size: auto;
}

h1, h2, dl, nav, p {
    color: GoldenRod;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-shadow: 0 0 4px black;
}

a {
    color: #d94800;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-shadow: 0 0 4px black;
}

.main {
    margin-left: 5px;
    text-align: left;
}