li a {
    color: CadetBlue;
    font-family: cursive;
}

li {
    color: CadetBlue;
    font-family: cursive;
}

h3, .current {
    color: gray;
    font-family: cursive;
}

.add_question {
    color: #4ad939;
    font-family: cursive;
}

body {
    background: white url("../images/background.gif") no-repeat;
    background-size: cover;
    min-width: 100vh;
    min-height: 97.9vh
}

nav  {
    color: gray;
    font-family: cursive;
}

p {
    color: CadetBlue;
}
